* {
    margin: 0;
    padding: 0;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
    margin: 47vh 47vw;
    background-color: rgb(237, 230, 221);
    cursor: pointer;
}
